* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 

	/*Basically shrinking but with the same padding measurement?
	Para kusang mag adjust yung content at padding inside div
	Para hindi na mag vertical scrollbar*/
}

#box {
	background-color: orange;
	border: 1px solid black; /*border styles - width, style, color*/
	padding: 50px; /*will add padding on all sides*/
	height: 150px ; /*for box*/
	width: 150px;
}