*{
	font-family: 'Open Sans', sans-serif;
	/*Reset CSS*/
	/*Deletes the default padding and margin of all the element on our webpage*/

	margin: 0;
	padding-left: 0;
	/*Box-sizing defines how the width and heigh of our element are calculated*/
	/*border-box will allow us to control the measurement of our elements better.
	It includes the padding, border styling of our element to the total height and width in its computation*/
	box-sizing: border-box;
}

nav {
	border-bottom: 1px solid gray;
	padding: 0.8rem; /*rem stands for pixels based on the root */
	margin-bottom: 2rem;
}

nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	margin: 0.5rem,;
}

#intro {
	text-align: center;
	padding: 10%; /*gets its value from its parent element which is the body tag.*/
}

section > .header {
	text-align: center;
	margin-bottom: 50px;
}

section p {
	margin-bottom: 55px;
}

#intro button {
	padding: 1rem;
	border-radius: 25px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;

}

/*What is the difference rem, px, and %*/

#succeed-info > div {
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-around;
}

#succeed-info > div > .card {
	margin: 0 15px;
}


#succeed-info > div > .card > h3 {
	text-align: center;
	padding-bottom: 10px;
}

#pre-footer {
	display: flex;
	justify-content: flex-start;
	justify-content: flex-start;
	background-color: #002540;
	color: white;
}

#pre-footer > div {
	height: auto;
	width: 250px;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#pre-footer > div > h3 {
	font-weight: bold;
}

#pre-footer > div > p {
	padding: 3px;
	margin: 0px;
}
